<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, ab fugit! Cum vitae nostrum suscipit nobis esse voluptates dolore recusandae ipsum temporibus, quia neque accusantium quam excepturi sequi quis numquam eveniet explicabo quasi dolores rem magni commodi eaque a. Velit exercitationem, nihil sapiente aliquam molestias non repellat adipisci alias recusandae quibusdam nobis cupiditate? Libero possimus molestiae, quos vitae laborum asperiores. Assumenda similique earum quae ut sed! Veritatis explicabo provident quisquam qui! Neque, cumque, qui minima quasi eum perferendis sit veniam eius incidunt, illum ut culpa odio suscipit! Labore, quae doloribus quo eum vel doloremque a dolorem eveniet impedit, sequi consequatur, repudiandae alias. Perspiciatis magni porro fuga placeat eveniet ullam, explicabo nihil ipsa illo a velit facilis qui quibusdam facere odit.</p>

<%- include("footer") -%>